---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import ExperiencePreview from "@/components/blog/ExperiencePreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "a stock chart generator",
		href: "https://kynos.cc",
		title: "kynos.cc",
	},
	{
		desc: "option contracts api",
		href: "https://options-api-ui.netlify.app/",
		title: "options data api",
	},
	{
		desc: "news aggregating api",
		href: "https://news-aggregator-ui.netlify.app/",
		title: "news-aggregator",
	},

];

const experiences: { desc: string; href: string; image: string; pos: string; title: string }[] = [
	{
		desc: "helping run the largest collegiate hackathon.",
		href: "https://calhacks.io",
		image: "calhacks.png",
		pos: "co-exec",
		title: "Cal Hacks",
	},
	{
		desc: "semantic search for Privacy & Compliance.",
		href: "https://apple.com",
		image: "apple.png",
		pos: "intern",
		title: "Apple",
	},
	{
		desc: "data pipelines to help Alexa scientists.",
		href: "https://amazon.com",
		image: "amazon.png",
		pos: "intern",
		title: "Amazon",
	},
];

---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title"></h1>
		<p class="mb-5">
			senior at berkeley. trying to figure things out. running cal hacks in my free time.
		</p>
		<SocialList />
	</section>

	<section aria-label="Blog post list" class="mt-14">
		<h2 class="title mb-6 text-xl">experience</h2>
		<ul class="space-y-2.5">
			{
				experiences.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}
						<ExperiencePreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

	<section class="mt-16">
    <h2 class="title mb-4 text-xl">projects</h2>
    <ul class="space-y-4">
        {
            cactusTech.map(({ desc, href, title }) => (
                <li class="flex flex-wrap items-center gap-x-2">
                    <dt>
                        <a class="cactus-link" href={href} rel="noreferrer" target="_blank">
                            {title}</a>:
                    </dt>
                    <dd class="inline-block">{desc}</dd>
                </li>
            ))
        }
    </ul>
</section>

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">blog</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	
	
</PageLayout>
